BOT_TOKEN=your_bot_token_here
ADMIN_IDS=123456789,987654321
ENCRYPTION_KEY=EQgnnH6eNYfOM7GFVXXB-OfAcy6oUOxqtoktOV_IVC4=
REDIS_URL=redis://redis:6379/0
DATABASE_URL=postgresql+asyncpg://postgres:password@postgres:5432/botdb